*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/vector-sunset-2illustration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 92%;
}
/* header part start  */

.content-body{
    background-color:#e1e1e1;
    width:1150px ; 
    padding: 60px 0; 
    margin: 0 auto;
}

header h1{
    font-size: 42px; 
    text-align: center; 
    color: #4E4E4E;
    letter-spacing: 6px; 
    margin-bottom: 16px;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}

header ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    font-weight: bold; 
    letter-spacing: 4px; 
    color: #0099c3;
    margin-bottom: 22px;
}
header .icons {
    margin-right: -24px;
    padding-bottom: 42px;
}
header .icons i {
    margin-right: 24px;
    cursor: pointer;
}
header .icons i:hover{
    color: #0099c3;
}

/* header part end */

.main-content{
    background-color:white; 
    width:1000px; 
    padding: 50px 30px; 
    margin: 0 auto; 
    margin-bottom: 60px;
}

.section-heading{
    color:#D8D8D8; 
    margin-bottom: 24px;
    letter-spacing: 3px;
}

.main-content div p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px; 
    color:#A2A2A2; 
    line-height: 32px;
    margin-bottom: 24px;
}

.main-content div p strong{
    text-decoration: underline dotted;
}
strong.twitter{
    color: rgb(46, 165, 191);
}
.dribble{
    color: rgb(211, 1, 137);
}
.instagram{
    color: #98786e;
}
.kickstarter{
    color: #93BB67;
}

/* latest news part start  */

.latest-news{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:50px ;
}

.latest-news h3{
    color:rgb(141, 141, 141) ; 
    text-align: center; 
    letter-spacing: 5px ;  
}
.latest-news div{
    margin: 30px 0;
}
.latest-news h2{
    color:#4b4b4b; 
    font-size: 22px;
    text-align: center; 
    text-decoration: underline dotted;
}
/* latest-news part end  */

/* footer part start  */
footer{
    padding-top: 40px;
    padding-bottom: 10px;
}

footer h4{
    color: rgb(166, 166, 166); 
    margin-left: 72px;
    float: left;
}
footer .float-right{
    margin-left: 740px;
}
footer h4 strong{
    color: #535353;
}